<a href="https://colab.research.google.com/github/qfx4yk/ds1002-qfx4yk/blob/main/homework/week-3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework - Week 3

Complete the following blocks as specified in the directions. Run each cell to return the desired output. Save your notebook back to your GitHub repository and submit the GitHub URL for your notebook for grading.

## 1. Variables

Declare and populate three variables below. Be sure your code outputs each variable:

1. Containing a string
2. Containing a boolean
3. Containing an integer

In [ ]:
# String variable
fav_subject = "data science"
print(fav_subject)
type(fav_subject)

data science

str

In [ ]:
# Boolean variable
bool_var = 4==5
print(bool_var)
type(bool_var)

False

bool

In [ ]:
# Integer variable
x = 23*4+8
print(x)
type(x)

100

int

## 2. String Manipulation

Take the following string and, using python commands, show how to fulfill the requested task. Be sure your code outputs the requested data.

String: "Go Hoos, Beat JMU!"

1. Write a command that extracts the first 8 characters of the string.
2. Write a command that extracts the last 4 characters of the string.

In [ ]:
# Command that extracts the first 8 characters of the string
UVA_string = "Go Hoos, Beat JMU!"
print(UVA_string[:8])

Go Hoos,

In [ ]:
# Command that extracts the last 4 characters of the string
print(UVA_string[-4:])

JMU!

# 3. Concatenation

1. Declare any two string variables and concatenate them.
2. Declare a string parameter and concatenate another hard-coded phrase with it.

In [ ]:
# Concatenating two strings
my_name = "My name is"
name = "Aparna Gana"

print(my_name + ' ' + name + '.')

My name is Aparna Gana.

In [ ]:
# Declaring a string parameter and concatenating another hard-coded phrase with it
string_parameter = str(9)
hard_coded_phrase = "Today is September"

print(string1 + ' ' + date + 'th.')

Today is September 9th.

# 4. Math Operations

Using the following numeric variables, write Python code that fulfills the requested operations. Be sure your code outputs the correct results.

```python
var1 = 9
var2 = 12
var3 = 48
var4 = 4
```

1. Divide var3 by var2
2. Multiply var1 by var4
3. Write a Python expression that gives a result of `16`.

In [ ]:
# Division
var2 = 12
var3 = 48
int(var3/var2)

4

In [ ]:
# Multiplication
var1 = 9
var4 = 4
int(var1*var4)

36

In [ ]:
# Python expression that gives a result of 16
var1 = 9
var2 = 12
var3 = 48
var4 = 4

desired_result = 16

expression = int((var3/var2) + var4 + var1 - 1)
print(expression)

expression == desired_result

16

True

# 5. For Loops (Extra Practice For Fun)

Context: 10 female teenagers were gathered for a clinical study. Each patient's blood amylase levels were measured. Amylase is an enzyme that helps humans digest carbohydrates. Most of the amylase in the body is made by the pancreas or salivary glands. Having too much or too little amylase in the blood may be a sign of a disorder of the pancreas or salivary glands, or another medical condition. Normal amylase levels range from 40 to 140 units per liter.

The 10 patients do not have medical knowledge and thus, do not know how to interpret their results. The purpose of this simple python function is to output a simple statement that will help these patients quickly interpret their results.

In [9]:
amylase_levels = [43, 500, 123, 57, 10, 135, 100, 30, 2, 40]

def interpret_amylase(amylase_levels):
  for a in amylase_levels:
    print("Your amylase level is: " + str(a) + " units per liter")
    if a < 40:
      print("Too low. Consult a physician.")
    if a > 140:
      print("Too high. Consult a physician.")
    if 40 <= a <= 140:
      print("Normal.")
    print(' ')

interpret_amylase(amylase_levels)

Your amylase level is: 43 units per liter
Normal.

Your amylase level is: 500 units per liter
Too high. Consult a physician.

Your amylase level is: 123 units per liter
Normal.

Your amylase level is: 57 units per liter
Normal.

Your amylase level is: 10 units per liter
Too low. Consult a physician.

Your amylase level is: 135 units per liter
Normal.

Your amylase level is: 100 units per liter
Normal.

Your amylase level is: 30 units per liter
Too low. Consult a physician.

Your amylase level is: 2 units per liter
Too low. Consult a physician.

Your amylase level is: 40 units per liter
Normal.