<a href="https://colab.research.google.com/github/qfx4yk/ds1002-qfx4yk/blob/main/homework/week-8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## While-Loops

Perform the following steps in code:
1. Define a variable and populate it with `0`.
2. Create a while statement that evaluates whether that variable is less than or equal to `20`.
3. Within the while loop evaluate if the variable value is even or odd.
4. Within the while loop, if the variable value is even, print it. If not, do not print it.
5. Within the while loop, finally add `1` to the variable before it repeats.

In [12]:
var1 = 0
while var1 <= 20:
  var1 += 1
  if var1 % 2 == 1:
    continue
  elif var1 % 2 == 0:
    print(var1, "is even!")

2 is even!
4 is even!
6 is even!
8 is even!
10 is even!
12 is even!
14 is even!
16 is even!
18 is even!
20 is even!

## For-Loops with Lists

In [9]:
mylist = [9, 15, 23, 4, 92, 47, 33, 17, -4, 18, 38, -242]

In [10]:
# Write a command to print out all the values of this list EXCEPT for any negative values. Omit them from the printing.
for number in mylist:
  if number//-1 == abs(number):
    continue
  else:
    print(number)

9
15
23
4
92
47
33
17
18
38

In [11]:
# Repeat the command from above, but this time get the absolute value of any negative values in the list and print those with the other items.
for number in mylist:
  if number//-1 == abs(number):
    print(abs(number))
  else:
    print(number)

9
15
23
4
92
47
33
17
4
18
38
242

In [13]:
# Similar to above, write a command to print out items in the list but omit any values greater than 20 and less than 40.
for number in mylist:
  if 20 < number < 40:
    continue
  else:
    print(number)

9
15
4
92
47
17
-4
18
-242

## For-Loops with Dictionaries

In [15]:
capitals = {'United States':'Washington DC',
          'Italy':'Rome',
          'England':'London',
          'Thailand':'Bangkok',
          'Brazil':'Brasilia'}

In [36]:
# Write a command to print out all the keys of this dict
for capital in capitals:
  print(capital)

United States
Italy
England
Thailand
Brazil

In [34]:
# Write a command to print out all the values of this dict
for capital in capitals:
  print(capitals[capital])

Washington DC
Rome
London
Bangkok
Brasilia

In [37]:
# Write a command to print all the keys and values for this dict
print("Countries and their Capitals:")
print(" ")
for key, value in capitals.items():
  print(key,"-->",value)
  print(" ")

Countries and their Capitals:

United States --> Washington DC

Italy --> Rome

England --> London

Thailand --> Bangkok

Brazil --> Brasilia

In [41]:
# Write a command to print only the first three values and NOTHING more.
for key, value in capitals.items():
  if (value == "Washington DC") or (value == "Rome") or (value == "London"):
    print(value)
  else:
    continue

Washington DC
Rome
London

# **"Mini" Extra Project**

In [71]:
score = input("Type your chemistry test score as a percentage: ")
score1 = int(score)
points_returned = (100-score1)/2
curved_score = score1 + points_returned
print("You will receive", points_returned, "points back after test corrections.")
print("Your curved score is", curved_score)

Type your chemistry test score as a percentage: 90
You will receive 5.0 points back after test corrections.
Your curved score is 95.0