<a href="https://colab.research.google.com/github/qfx4yk/ds1002-qfx4yk/blob/main/homework/week-9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework - Week 9

Complete the following blocks as specified in the directions. Run each cell to return the desired output. Save your notebook back to your GitHub repository and submit the GitHub URL to your notebook for review.

## Functions

In the cell below define a function that takes one parameter (in the form of a list) called `names` and returns a simple greeting for each name, such as

    "Hello Natasha, it's so nice to meet you"
    "Hello Sid, it's so nice to meet you"

Define the function and run it, and in another cell below call the function populated with a var of a list of names.

In [16]:
def greet_name(names):
    '''
    PURPOSE: Given a list of names, return a simple greeting for each name

    INPUTS
    names --> list of names

    OUTPUT
    one sentence greeting for each name in the list of names
    '''
    for name in names:
      print("Greetings",name,", it's nice to meet you.")

In [18]:
names = ["Aparna", "Natasha", "Sid", "Bunny", "Maya"]
greet_name(names)

Greetings Aparna , it's nice to meet you.
Greetings Natasha , it's nice to meet you.
Greetings Sid , it's nice to meet you.
Greetings Bunny , it's nice to meet you.
Greetings Maya , it's nice to meet you.

Using the following list, pass it into a function you define that will evaluate the list and return a count of how many items is in it. Be creative.

```
mylist = ["Toronto","Buffalo","Syracuse","Albany","Schenectady","Brooklyn","Rome","Ithaca"]
```

In [23]:
mylist = ["Toronto","Buffalo","Syracuse","Albany","Schenectady","Brooklyn","Rome","Ithaca"]

def count_list_items(mylist):
  '''
  PURPOSE: Given a list, return a count for how many items is in it

  INPUTS
  mylist --> list of items

  OUTPUT
  one sentence greeting for each name in the list of names
  '''
  return len(mylist)

count_list_items(mylist)

8

## Input Validation

Write a function below that defines two input parameters as `bool` and returns a `bool`.
In the cell below that, populate two variables with two different bools (True and False)
and pass them into a call of your function.

In [33]:
def give_me_a_bool(var1: bool, var2: bool) -> bool:
  '''
  PURPOSE: Given two input bool parameters, evaluate whether both are true

  INPUTS
  var1 --> bool
  var2 --> bool

  OUTPUT
  boolean that evaluates whether the statement (var1 and var2) is True or False
  '''
  if (type(var1) == bool) and (type(var2) == bool):
    return var1 and var2
  else:
    print("Wrong data type. Please pass in booleans.")

In [31]:
var1 = 5==4
var2 = True
give_me_a_bool(var1, var2)

False

## Global Variables

Define a global variable and populate it with a data type (int, str, bool, float, etc.)

In [36]:
global_var = "Earth"

Now create a function that prints out the global variable. Call the function and display the value of the var.

In [37]:
def print_global_var():
  '''
  PURPOSE: Print a defined global variable

  INPUTS
  no inputs

  OUTPUT
  displayed value of the defined global variable
  '''
  print(global_var)

print_global_var()

Earth

Now create a function that creates its own global var and populates it.
Call the function and then print out the global var from outside of the function.

In [35]:
def create_global_var():
  '''
  PURPOSE: Create and print a global variable

  INPUTS
  no inputs

  OUTPUT
  displayed value of the defined global variable
  '''
  global zz
  zz = 10

create_global_var()
print(zz)

10

Finally, write a function that updates the value of the global var you defined 3 cells above.

1. Within the function, print out the global var you defined 3 cells above.
2. Update the global var to have a new value.
3. Within the function, print the new value of the global var.

Call the function and once more print out the value of the global var from outside of the function.

In [39]:
def update_global_var():
  '''
  PURPOSE: Update a defined global variable

  INPUTS
  no inputs

  OUTPUT
  displayed value of the updated global variable
  '''
  global global_var
  print("Old value:",global_var)
  global_var = "Mars"
  print("New value:",global_var)

update_global_var()
print(global_var)

Old value: Earth
New value: Mars
Mars