<a href="https://colab.research.google.com/github/qfx4yk/ds1002-qfx4yk/blob/main/labs/lab1/lab1-ftx-stock-pricing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DS1002 Lab 1: Python

In this lab you will work with a dataset, writing python to generate the deliverables specified in the cells below.

> **FTX** was a cryptocurrency exchange founded by Sam Bankman-Fried that saw both a spectacular rise and collapse between 2021 and 2022. At one point it had a valuation of $32B. Bankman-Fried was recently found guilty on seven counts of fraud and conspiracy.

The dataset for this assignment covers that rise and fall from the viewpoint of daily stock closing prices for FTX (ticker symbol `FTT`).

Answer the questions below with the appropriate Python code. Point assignments are indicated for each section. There are 15 total points possible for this lab, which counts as 5% of your overall grade. There is a 1-point extra credit option at the end.

Useful reference material:
- [Pandas Review](https://colab.research.google.com/github/nmagee/ds1002/blob/main/notebooks/pandas-review.ipynb) notebook.
- [Charts Reference](https://colab.research.google.com/github/nmagee/ds1002/blob/main/notebooks/charts-in-colaboratory.ipynb) notebook.
- [Plots Walkthrough](https://colab.research.google.com/github/nmagee/ds1002/blob/main/notebooks/plotting-examples.ipynb)

## Group Submissions

If you are working in a group to complete this lab, you may have no more than 3 members to a group. Group members should be indicated in the cell below -- list both names and UVA computing IDs.

Each student should then submit **the same URL** for the lab in Canvas. (If a group has Member1, Member2, and Member3, only one member needs to save the completed work back to GitHub and all members should submit that URL for grading.)

In [ ]:
# List group members (if applicable). Identify names and computing IDs
#
# Name                    Computing ID

## 1. Load Libraries & Data (3 pts)

https://s3.amazonaws.com/ds1002-resources/data/ftx-2021-01-01--2023-12-31.csv

Import any necessary libraries and load the remote CSV file below into a DataFrame. **Resolve any import issues you need to.**

In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [69]:
ftx = pd.read_csv("ftx-2021-01-01--2023-12-31.csv")

## 2. Get Summary Data (1 pt)

In code, display how many rows and columns are in the raw dataset.

In [54]:
ftx.shape

# rows = 741; columns = 1

(741, 1)

In [55]:
### Comment ###
# This raw data contains data on 11 different variables:
# timeOpen, timeClose, timeHigh, timeLow, open, high, low, close, volume, marketCap, and timestamp.
# However, all these categories are merged into a single column and need to first be split apart before data analysis.

## 3. Clean and Organize the Data (3 pts)

Check for data quality.

- Resolve any empty values or duplicate rows.
- Order the data properly if necessary.
- Drop the following columns and save the dataframe: `timeOpen`, `timeClose`, `timeHigh`, `timeLow`, `marketCap`,

In [70]:
# Split single column into multiple columns
ftx[['timeOpen','timeClose','timeHigh','timeLow','open','high','low','close','volume','marketCap','timestamp']] = ftx['timeOpen;timeClose;timeHigh;timeLow;open;high;low;close;volume;marketCap;timestamp'].str.split(';', expand=True)

In [71]:
# Delete unnecessary columns
ftx = ftx.drop(['timeOpen;timeClose;timeHigh;timeLow;open;high;low;close;volume;marketCap;timestamp'], axis=1)
ftx_new = ftx.drop(['timeOpen','timeClose','timeHigh','timeLow','marketCap'], axis=1)

In [74]:
# Basic information about ftx_new
ftx_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 741 entries, 740 to 0
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   open       741 non-null    object
 1   high       741 non-null    object
 2   low        741 non-null    object
 3   close      741 non-null    object
 4   volume     741 non-null    object
 5   timestamp  741 non-null    object
dtypes: object(6)
memory usage: 40.5+ KB

In [75]:
# Data types in ftx_new
ftx_new.dtypes

open         object
high         object
low          object
close        object
volume       object
timestamp    object
dtype: object

In [76]:
# Columns, shape, length, number of duplicates, and number of missing values in ftx_new
print("Columns:", ftx_new.columns)
print("Shape:", ftx_new.shape)
print("Length:", len(ftx_new))
print("Number of duplicates:", ftx_new.duplicated().sum())
print("Number of missing values:", ftx_new.isna().sum().sum())

Columns: Index(['open', 'high', 'low', 'close', 'volume', 'timestamp'], dtype='object')
Shape: (741, 6)
Length: 741
Number of duplicates: 14
Number of missing values: 0

In [79]:
# Removing duplicate rows from ftx_new
ftx_new = ftx_new.drop_duplicates()
print("Length of ftx_new with duplicates removed:", len(ftx_new))

Length of ftx_new with duplicates removed: 727

In [88]:
ftx_new.shape

(727, 6)

In [82]:
# Sort values by ascending timestamp value
ftx_new = ftx_new.sort_values(["timestamp"], ascending=True)

Now display the first 10 rows of the cleaned dataset.

In [83]:
ftx_new.head(10)

,open,high,low,close,volume,timestamp
740,6.20113267,7.00752345,6.171834,6.92396831,31046652.87,"""2021-01-03T23:59:59.999Z"""
738,6.94867983,7.63214646,6.35821845,7.51407925,40526109.15,"""2021-01-04T23:59:59.999Z"""
737,7.52821638,8.71494656,7.08112034,8.66468773,49479278.39,"""2021-01-05T23:59:59.999Z"""
736,8.67128533,9.39079731,8.4259458,9.39079731,31404627.93,"""2021-01-06T23:59:59.999Z"""
735,9.386493,10.00487172,9.21524402,9.56213089,46303336.73,"""2021-01-07T23:59:59.999Z"""
734,9.56923877,9.72642922,8.45226488,9.38098835,42286267.89,"""2021-01-08T23:59:59.999Z"""
733,9.37044999,9.63612025,8.72804429,9.57051061,28498948.68,"""2021-01-09T23:59:59.999Z"""
732,9.57191738,9.94479719,8.6571467,9.30880934,31012393.14,"""2021-01-10T23:59:59.999Z"""
731,9.2983155,9.2983155,7.12604974,8.61099653,101302369.57,"""2021-01-11T23:59:59.999Z"""
730,8.6151428,9.09747943,8.04091578,8.38113312,26745357.03,"""2021-01-12T23:59:59.999Z"""

## 4. Calculate Daily Gains/Losses (2 pts)

Using Pandas, add a new column named `["close_change"]` to the dataframe that calculates the difference between daily closing prices for FTX. This will result in positive (growth) and negative (loss) values.

Note:
- Be careful about how you calculate this. Each row should calculate that difference from the row above it, which must be the previous calendar day.
- Reference code for this is available in the [Pandas Review](https://colab.research.google.com/github/nmagee/ds1002/blob/main/notebooks/pandas-review.ipynb) notebook. Hint: It is not complicated and does not require a for-loop.

In [89]:
ftx_new['close_change'] = ftx_new['close'].diff()
ftx_new

TypeError: ignored

## 5. Identify Growth Days (1 pt)

Based on the daily change in closing prices calculated above, identify the top 10 days of positive growth for FTX.

Display your results in a table showing both the rate of change and their dates.

## 6. Calculate the % Rate of Change (2 pts)

Next, create a new column named `["rate_of_change"]` based on `["close_change"]`.

Use the Pandas Review notebook for reference. Again, this is an easy operation in Pandas and does not require a for-loop.

## 7. Identify Greatest % Change Days (1 pt)

Based on the rate change column calculated above, identify the top 5 days of greatest rate changes, whether positive or negative.

Display your results in a table showing both the rate of change and their dates.

## 8. Plot the Data (2 pts)

Finally, create two separate plots of the data -- one for the daily closing price and one for the daily gains/losses. These can be histograms or line plots.

## BONUS! (1 pt)

Combine the two plots from #8 above into a single plot, displaying both together. Your plot should have two Y-axis scales, should differentiate the two values by color, and should include a legend.