<a href="https://colab.research.google.com/github/qfx4yk/ds1002-qfx4yk/blob/main/in-class%20exercises/21-dataframes-in-r-student.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Frames in R

Build a data frame by hand.

In [1]:
album <- c("The Low End Theory", "Nevermind", "Port of Morrow",
           "Dark Side of the Moon", "Naked", "OK Computer",
           "Abbey Road", "Thriller", "Rumours", "The Joshua Tree")
year <- c(1991, 1991, 2012, 1973, 1988, 1997, 1969, 1982, 1977, 1987)
digital <- c(FALSE, FALSE, TRUE, FALSE, TRUE, TRUE, FALSE, FALSE, FALSE, TRUE)

df <- data.frame(Album = album, Year = year, Digital = digital)

# Column Naming

In [3]:
df <- data.frame(Album = album, Year = year, Digital = digital)
names(df) <- c("Album", "Year", "Digital")

In [4]:
# display the df
df

   Album                 Year Digital
1  The Low End Theory    1991 FALSE
2  Nevermind             1991 FALSE
3  Port of Morrow        2012  TRUE
4  Dark Side of the Moon 1973 FALSE
5  Naked                 1988  TRUE
6  OK Computer           1997  TRUE
7  Abbey Road            1969 FALSE
8  Thriller              1982 FALSE
9  Rumours               1977 FALSE
10 The Joshua Tree       1987  TRUE

## Insert a Column

In [8]:
df$Year
df$Album

 [1] 1991 1991 2012 1973 1988 1997 1969 1982 1977 1987

 [1] "The Low End Theory"    "Nevermind"             "Port of Morrow"
 [4] "Dark Side of the Moon" "Naked"                 "OK Computer"
 [7] "Abbey Road"            "Thriller"              "Rumours"
[10] "The Joshua Tree"

In [10]:
df$Artist <- c("A Tribe Called Quest", "Nirvana", "The Shins", "Pink Floyd", "Talking Heads", "Radiohead", "The Beatles", "Michael Jackson", "Fleetwood Mac", "U2")

In [13]:
df

   Album                 Year Digital Artist
1  The Low End Theory    1991 FALSE   A Tribe Called Quest
2  Nevermind             1991 FALSE   Nirvana
3  Port of Morrow        2012  TRUE   The Shins
4  Dark Side of the Moon 1973 FALSE   Pink Floyd
5  Naked                 1988  TRUE   Talking Heads
6  OK Computer           1997  TRUE   Radiohead
7  Abbey Road            1969 FALSE   The Beatles
8  Thriller              1982 FALSE   Michael Jackson
9  Rumours               1977 FALSE   Fleetwood Mac
10 The Joshua Tree       1987  TRUE   U2

## Get the Structure

In [11]:
str(df)

'data.frame':	10 obs. of  4 variables:
 $ Album  : chr  "The Low End Theory" "Nevermind" "Port of Morrow" "Dark Side of the Moon" ...
 $ Year   : num  1991 1991 2012 1973 1988 ...
 $ Digital: logi  FALSE FALSE TRUE FALSE TRUE TRUE ...
 $ Artist : chr  "A Tribe Called Quest" "Nirvana" "The Shins" "Pink Floyd" ...

# Selecting Columns

In [15]:
# Two components to the brackets --> df[ROWS, COLUMNS]

In [14]:
df[,1:2]

   Album                 Year
1  The Low End Theory    1991
2  Nevermind             1991
3  Port of Morrow        2012
4  Dark Side of the Moon 1973
5  Naked                 1988
6  OK Computer           1997
7  Abbey Road            1969
8  Thriller              1982
9  Rumours               1977
10 The Joshua Tree       1987

In [16]:
df[1:5,]

  Album                 Year Digital Artist
1 The Low End Theory    1991 FALSE   A Tribe Called Quest
2 Nevermind             1991 FALSE   Nirvana
3 Port of Morrow        2012  TRUE   The Shins
4 Dark Side of the Moon 1973 FALSE   Pink Floyd
5 Naked                 1988  TRUE   Talking Heads

In [17]:
df[,]

   Album                 Year Digital Artist
1  The Low End Theory    1991 FALSE   A Tribe Called Quest
2  Nevermind             1991 FALSE   Nirvana
3  Port of Morrow        2012  TRUE   The Shins
4  Dark Side of the Moon 1973 FALSE   Pink Floyd
5  Naked                 1988  TRUE   Talking Heads
6  OK Computer           1997  TRUE   Radiohead
7  Abbey Road            1969 FALSE   The Beatles
8  Thriller              1982 FALSE   Michael Jackson
9  Rumours               1977 FALSE   Fleetwood Mac
10 The Joshua Tree       1987  TRUE   U2

## Slicing & Filtering

Remember that a data frame is simply a 2-dimensional array. Rows + Columns.

The `[ ]` selector has two halves, separated by a comma: `[ <ROWS> , <COLUMNS> ]`

In [19]:
df[6, 4]

[1] "Radiohead"

In [20]:
df[ ,-(2:3)]

   Album                 Artist
1  The Low End Theory    A Tribe Called Quest
2  Nevermind             Nirvana
3  Port of Morrow        The Shins
4  Dark Side of the Moon Pink Floyd
5  Naked                 Talking Heads
6  OK Computer           Radiohead
7  Abbey Road            The Beatles
8  Thriller              Michael Jackson
9  Rumours               Fleetwood Mac
10 The Joshua Tree       U2

In [21]:
df[ , c(1,4)]

   Album                 Artist
1  The Low End Theory    A Tribe Called Quest
2  Nevermind             Nirvana
3  Port of Morrow        The Shins
4  Dark Side of the Moon Pink Floyd
5  Naked                 Talking Heads
6  OK Computer           Radiohead
7  Abbey Road            The Beatles
8  Thriller              Michael Jackson
9  Rumours               Fleetwood Mac
10 The Joshua Tree       U2

In [22]:
df[1:3,]

  Album              Year Digital Artist
1 The Low End Theory 1991 FALSE   A Tribe Called Quest
2 Nevermind          1991 FALSE   Nirvana
3 Port of Morrow     2012  TRUE   The Shins

In [23]:
df[ , c(4,2)]

   Artist               Year
1  A Tribe Called Quest 1991
2  Nirvana              1991
3  The Shins            2012
4  Pink Floyd           1973
5  Talking Heads        1988
6  Radiohead            1997
7  The Beatles          1969
8  Michael Jackson      1982
9  Fleetwood Mac        1977
10 U2                   1987

In [24]:
df[c(1,9,4,5), c(4,2)]

  Artist               Year
1 A Tribe Called Quest 1991
9 Fleetwood Mac        1977
4 Pink Floyd           1973
5 Talking Heads        1988

In [26]:
df[ , c("Album", "Artist")]

   Album                 Artist
1  The Low End Theory    A Tribe Called Quest
2  Nevermind             Nirvana
3  Port of Morrow        The Shins
4  Dark Side of the Moon Pink Floyd
5  Naked                 Talking Heads
6  OK Computer           Radiohead
7  Abbey Road            The Beatles
8  Thriller              Michael Jackson
9  Rumours               Fleetwood Mac
10 The Joshua Tree       U2

In [27]:
# Searching for all the values where digital is FALSE
df[df$Digital == FALSE,]

  Album                 Year Digital Artist
1 The Low End Theory    1991 FALSE   A Tribe Called Quest
2 Nevermind             1991 FALSE   Nirvana
4 Dark Side of the Moon 1973 FALSE   Pink Floyd
7 Abbey Road            1969 FALSE   The Beatles
8 Thriller              1982 FALSE   Michael Jackson
9 Rumours               1977 FALSE   Fleetwood Mac

In [28]:
# Now we can search a larger data set:
df[df$Digital == TRUE,]

   Album           Year Digital Artist
3  Port of Morrow  2012 TRUE    The Shins
5  Naked           1988 TRUE    Talking Heads
6  OK Computer     1997 TRUE    Radiohead
10 The Joshua Tree 1987 TRUE    U2

In [30]:
df[df$Digital != FALSE,]

   Album           Year Digital Artist
3  Port of Morrow  2012 TRUE    The Shins
5  Naked           1988 TRUE    Talking Heads
6  OK Computer     1997 TRUE    Radiohead
10 The Joshua Tree 1987 TRUE    U2

In [31]:
df[df$Year > 1990,]

  Album              Year Digital Artist
1 The Low End Theory 1991 FALSE   A Tribe Called Quest
2 Nevermind          1991 FALSE   Nirvana
3 Port of Morrow     2012  TRUE   The Shins
6 OK Computer        1997  TRUE   Radiohead

In [34]:
df[df$Year > 1990 & df$Digital == TRUE,] # AND: &

  Album          Year Digital Artist
3 Port of Morrow 2012 TRUE    The Shins
6 OK Computer    1997 TRUE    Radiohead

In [35]:
df[df$Year > 1990 | df$Digital == FALSE,] # OR: |

  Album                 Year Digital Artist
1 The Low End Theory    1991 FALSE   A Tribe Called Quest
2 Nevermind             1991 FALSE   Nirvana
3 Port of Morrow        2012  TRUE   The Shins
4 Dark Side of the Moon 1973 FALSE   Pink Floyd
6 OK Computer           1997  TRUE   Radiohead
7 Abbey Road            1969 FALSE   The Beatles
8 Thriller              1982 FALSE   Michael Jackson
9 Rumours               1977 FALSE   Fleetwood Mac

## `tidyverse`

In [36]:
# Installing packages
install.packages("tidyverse")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [37]:
# Loading a library
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.3     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.4     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.0
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [41]:
# Piping
# %>% = piping --> symbol means "and then"

df %>%
  select(Album, Year) %>%
  filter(Year > 1990)

  Album              Year
1 The Low End Theory 1991
2 Nevermind          1991
3 Port of Morrow     2012
4 OK Computer        1997

In [43]:
# Loading a CSV file into a data frame
titanic <- read.csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")
titanic

    PassengerId Survived Pclass
1    1          0        3
2    2          1        1
3    3          1        3
4    4          1        1
5    5          0        3
6    6          0        3
7    7          0        1
8    8          0        3
9    9          1        3
10  10          1        2
11  11          1        3
12  12          1        1
13  13          0        3
14  14          0        3
15  15          0        3
16  16          1        2
17  17          0        3
18  18          1        2
19  19          0        3
20  20          1        3
21  21          0        2
22  22          1        2
23  23          1        3
24  24          1        1
25  25          0        3
26  26          1        3
27  27          0        3
28  28          0        1
29  29          1        3
30  30          0        3
⋮   ⋮           ⋮        ⋮
862 862         0        2
863 863         1        1
864 864         0        3
865 865         0        2
866 866         1        2
867 867         1        2
868 868         0        1
869 869         0        3
870 870         1        3
871 871         0        3
872 872         1        1
873 873         0        1
874 874         0        3
875 875         1        2
876 876         1        3
877 877         0        3
878 878         0        3
879 879         0        3
880 880         1        1
881 881         1        2
882 882         0        3
883 883         0        3
884 884         0        2
885 885         0        3
886 886         0        3
887 887         0        2
888 888         1        1
889 889         0        3
890 890         1        1
891 891         0        3
    Name                                                      Sex    Age SibSp
1   Braund, Mr. Owen Harris                                   male   22  1
2   Cumings, Mrs. John Bradley (Florence Briggs Thayer)       female 38  1
3   Heikkinen, Miss. Laina                                    female 26  0
4   Futrelle, Mrs. Jacques Heath (Lily May Peel)              female 35  1
5   Allen, Mr. William Henry                                  male   35  0
6   Moran, Mr. James                                          male   NA  0
7   McCarthy, Mr. Timothy J                                   male   54  0
8   Palsson, Master. Gosta Leonard                            male    2  3
9   Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)         female 27  0
10  Nasser, Mrs. Nicholas (Adele Achem)                       female 14  1
11  Sandstrom, Miss. Marguerite Rut                           female  4  1
12  Bonnell, Miss. Elizabeth                                  female 58  0
13  Saundercock, Mr. William Henry                            male   20  0
14  Andersson, Mr. Anders Johan                               male   39  1
15  Vestrom, Miss. Hulda Amanda Adolfina                      female 14  0
16  Hewlett, Mrs. (Mary D Kingcome)                           female 55  0
17  Rice, Master. Eugene                                      male    2  4
18  Williams, Mr. Charles Eugene                              male   NA  0
19  Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)   female 31  1
20  Masselmani, Mrs. Fatima                                   female NA  0
21  Fynney, Mr. Joseph J                                      male   35  0
22  Beesley, Mr. Lawrence                                     male   34  0
23  McGowan, Miss. Anna "Annie"                               female 15  0
24  Sloper, Mr. William Thompson                              male   28  0
25  Palsson, Miss. Torborg Danira                             female  8  3
26  Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson) female 38  1
27  Emir, Mr. Farred Chehab                                   male   NA  0
28  Fortune, Mr. Charles Alexander                            male   19  3
29  O'Dwyer, Miss. Ellen "Nellie"                             female NA  0
30  Todoroff, Mr. Lalio                                       male   NA  0
⋮   ⋮                                                         ⋮      ⋮   ⋮
862 Giles, Mr. Frederick Edward                               male   21  1
863 Swift, Mrs. Frederick Joel (Margaret Welles Barron)       female 48  0
864 Sage, Miss. Dorothy Edith "Dolly"                         female NA  8
865 Gill, Mr. John William                                    male   24  0
866 Bystrom, Mrs. (Karolina)                                  female 42  0
867 Duran y More, Miss. Asuncion                              female 27  1
868 Roebling, Mr. Washington Augustus II                      male   31  0
869 van Melkebeke, Mr. Philemon                               male   NA  0
870 Johnson, Master. Harold Theodor                           male    4  1
871 Balkic, Mr. Cerin                                         male   26  0
872 Beckwith, Mrs. Richard Leonard (Sallie Monypeny)          female 47  1
873 Carlsson, Mr. Frans Olof                                  male   33  0
874 Vander Cruyssen, Mr. Victor                               male   47  0
875 Abelson, Mrs. Samuel (Hannah Wizosky)                     female 28  1
876 Najib, Miss. Adele Kiamie "Jane"                          female 15  0
877 Gustafsson, Mr. Alfred Ossian                             male   20  0
878 Petroff, Mr. Nedelio                                      male   19  0
879 Laleff, Mr. Kristo                                        male   NA  0
880 Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)             female 56  0
881 Shelley, Mrs. William (Imanita Parrish Hall)              female 25  0
882 Markun, Mr. Johann                                        male   33  0
883 Dahlberg, Miss. Gerda Ulrika                              female 22  0
884 Banfield, Mr. Frederick James                             male   28  0
885 Sutehall, Mr. Henry Jr                                    male   25  0
886 Rice, Mrs. William (Margaret Norton)                      female 39  0
887 Montvila, Rev. Juozas                                     male   27  0
888 Graham, Miss. Margaret Edith                              female 19  0
889 Johnston, Miss. Catherine Helen "Carrie"                  female NA  1
890 Behr, Mr. Karl Howell                                     male   26  0
891 Dooley, Mr. Patrick                                       male   32  0
    Parch Ticket           Fare     Cabin       Embarked
1   0     A/5 21171          7.2500             S
2   0     PC 17599          71.2833 C85         C
3   0     STON/O2. 3101282   7.9250             S
4   0     113803            53.1000 C123        S
5   0     373450             8.0500             S
6   0     330877             8.4583             Q
7   0     17463             51.8625 E46         S
8   1     349909            21.0750             S
9   2     347742            11.1333             S
10  0     237736            30.0708             C
11  1     PP 9549           16.7000 G6          S
12  0     113783            26.5500 C103        S
13  0     A/5. 2151          8.0500             S
14  5     347082            31.2750             S
15  0     350406             7.8542             S
16  0     248706            16.0000             S
17  1     382652            29.1250             Q
18  0     244373            13.0000             S
19  0     345763            18.0000             S
20  0     2649               7.2250             C
21  0     239865            26.0000             S
22  0     248698            13.0000 D56         S
23  0     330923             8.0292             Q
24  0     113788            35.5000 A6          S
25  1     349909            21.0750             S
26  5     347077            31.3875             S
27  0     2631               7.2250             C
28  2     19950            263.0000 C23 C25 C27 S
29  0     330959             7.8792             Q
30  0     349216             7.8958             S
⋮   ⋮     ⋮                ⋮        ⋮           ⋮
862 0     28134            11.5000              S
863 0     17466            25.9292  D17         S
864 2     CA. 2343         69.5500              S
865 0     233866           13.0000              S
866 0     236852           13.0000              S
867 0     SC/PARIS 2149    13.8583              C
868 0     PC 17590         50.4958  A24         S
869 0     345777            9.5000              S
870 1     347742           11.1333              S
871 0     349248            7.8958              S
872 1     11751            52.5542  D35         S
873 0     695               5.0000  B51 B53 B55 S
874 0     345765            9.0000              S
875 0     P/PP 3381        24.0000              C
876 0     2667              7.2250              C
877 0     7534              9.8458              S
878 0     349212            7.8958              S
879 0     349217            7.8958              S
880 1     11767            83.1583  C50         C
881 1     230433           26.0000              S
882 0     349257            7.8958              S
883 0     7552             10.5167              S
884 0     C.A./SOTON 34068 10.5000              S
885 0     SOTON/OQ 392076   7.0500              S
886 5     382652           29.1250              Q
887 0     211536           13.0000              S
888 0     112053           30.0000  B42         S
889 2     W./C. 6607       23.4500              S
890 0     111369           30.0000  C148        C
891 0     370376            7.7500              Q

In [44]:
titanic %>%
  select(Pclass, Name, Sex, Fare, Age) %>%
  filter(Sex == "female") %>%
  filter(Pclass == 3) %>%
  filter(Age < 20) %>%
  arrange(Name)

   Pclass Name                                            Sex    Fare    Age
1  3      Aks, Mrs. Sam (Leah Rosen)                      female  9.3500 18.00
2  3      Andersen-Jensen, Miss. Carla Christine Nielsine female  7.8542 19.00
3  3      Andersson, Miss. Ebba Iris Alfrida              female 31.2750  6.00
4  3      Andersson, Miss. Ellis Anna Maria               female 31.2750  2.00
5  3      Andersson, Miss. Erna Alexandra                 female  7.9250 17.00
6  3      Andersson, Miss. Ingeborg Constanzia            female 31.2750  9.00
7  3      Andersson, Miss. Sigrid Elisabeth               female 31.2750 11.00
8  3      Arnold-Franchi, Mrs. Josef (Josefine Franchi)   female 17.8000 18.00
9  3      Asplund, Miss. Lillian Gertrud                  female 31.3875  5.00
10 3      Attalah, Miss. Malake                           female 14.4583 17.00
11 3      Ayoub, Miss. Banoura                            female  7.2292 13.00
12 3      Baclini, Miss. Eugenie                          female 19.2583  0.75
13 3      Baclini, Miss. Helene Barbara                   female 19.2583  0.75
14 3      Baclini, Miss. Marie Catherine                  female 19.2583  5.00
15 3      Barbara, Miss. Saiide                           female 14.4542 18.00
16 3      Boulos, Miss. Nourelain                         female 15.2458  9.00
17 3      Carr, Miss. Helen "Ellen"                       female  7.7500 16.00
18 3      Devaney, Miss. Margaret Delia                   female  7.8792 19.00
19 3      Emanuel, Miss. Virginia Ethel                   female 12.4750  5.00
20 3      Ford, Miss. Robina Maggie "Ruby"                female 34.3750  9.00
21 3      Gilnagh, Miss. Katherine "Katie"                female  7.7333 16.00
22 3      Goodwin, Miss. Lillian Amy                      female 46.9000 16.00
23 3      Hegarty, Miss. Hanora "Nora"                    female  6.7500 18.00
24 3      Hirvonen, Miss. Hildur E                        female 12.2875  2.00
25 3      Johnson, Miss. Eleanor Ileen                    female 11.1333  1.00
26 3      Karun, Miss. Manca                              female 13.4167  4.00
27 3      Kink-Heilmann, Miss. Luise Gretchen             female 22.0250  4.00
28 3      McGowan, Miss. Anna "Annie"                     female  8.0292 15.00
29 3      Najib, Miss. Adele Kiamie "Jane"                female  7.2250 15.00
30 3      Nakid, Miss. Maria ("Mary")                     female 15.7417  1.00
31 3      Nicola-Yarred, Miss. Jamila                     female 11.2417 14.00
32 3      Palsson, Miss. Stina Viola                      female 21.0750  3.00
33 3      Palsson, Miss. Torborg Danira                   female 21.0750  8.00
34 3      Pettersson, Miss. Ellen Natalia                 female  7.7750 18.00
35 3      Sandstrom, Miss. Marguerite Rut                 female 16.7000  4.00
36 3      Sjoblom, Miss. Anna Sofia                       female  7.4958 18.00
37 3      Skoog, Miss. Mabel                              female 27.9000  9.00
38 3      Skoog, Miss. Margit Elizabeth                   female 27.9000  2.00
39 3      Strom, Miss. Telma Matilda                      female 10.4625  2.00
40 3      Turja, Miss. Anna Sofia                         female  9.8417 18.00
41 3      Van Impe, Miss. Catharina                       female 24.1500 10.00
42 3      Vander Planke, Miss. Augusta Maria              female 18.0000 18.00
43 3      Vestrom, Miss. Hulda Amanda Adolfina            female  7.8542 14.00
44 3      Yasbeck, Mrs. Antoni (Selini Alexander)         female 14.4542 15.00
45 3      Zabour, Miss. Hileni                            female 14.4542 14.50

In [45]:
df2 <- titanic %>%
  select(Pclass, Name, Sex, Fare, Age) %>%
  filter(Sex == "female") %>%
  filter(Pclass == 3) %>%
  filter(Age < 20) %>%
  arrange(Name)

We can explore one of the built-in data sets from R.

In [47]:
starwars

   name                  height mass   hair_color    skin_color
1  Luke Skywalker        172      77.0 blond         fair
2  C-3PO                 167      75.0 NA            gold
3  R2-D2                  96      32.0 NA            white, blue
4  Darth Vader           202     136.0 none          white
5  Leia Organa           150      49.0 brown         light
6  Owen Lars             178     120.0 brown, grey   light
7  Beru Whitesun lars    165      75.0 brown         light
8  R5-D4                  97      32.0 NA            white, red
9  Biggs Darklighter     183      84.0 black         light
10 Obi-Wan Kenobi        182      77.0 auburn, white fair
11 Anakin Skywalker      188      84.0 blond         fair
12 Wilhuff Tarkin        180        NA auburn, grey  fair
13 Chewbacca             228     112.0 brown         unknown
14 Han Solo              180      80.0 brown         fair
15 Greedo                173      74.0 NA            green
16 Jabba Desilijic Tiure 175    1358.0 NA            green-tan, brown
17 Wedge Antilles        170      77.0 brown         fair
18 Jek Tono Porkins      180     110.0 brown         fair
19 Yoda                   66      17.0 white         green
20 Palpatine             170      75.0 grey          pale
21 Boba Fett             183      78.2 black         fair
22 IG-88                 200     140.0 none          metal
23 Bossk                 190     113.0 none          green
24 Lando Calrissian      177      79.0 black         dark
25 Lobot                 175      79.0 none          light
26 Ackbar                180      83.0 none          brown mottle
27 Mon Mothma            150        NA auburn        fair
28 Arvel Crynyd           NA        NA brown         fair
29 Wicket Systri Warrick  88      20.0 brown         brown
30 Nien Nunb             160      68.0 none          grey
⋮  ⋮                     ⋮      ⋮      ⋮             ⋮
58 Cordé                 157       NA  brown         light
59 Cliegg Lars           183       NA  brown         fair
60 Poggle the Lesser     183     80.0  none          green
61 Luminara Unduli       170     56.2  black         yellow
62 Barriss Offee         166     50.0  black         yellow
63 Dormé                 165       NA  brown         light
64 Dooku                 193     80.0  white         fair
65 Bail Prestor Organa   191       NA  black         tan
66 Jango Fett            183     79.0  black         tan
67 Zam Wesell            168     55.0  blonde        fair, green, yellow
68 Dexter Jettster       198    102.0  none          brown
69 Lama Su               229     88.0  none          grey
70 Taun We               213       NA  none          grey
71 Jocasta Nu            167       NA  white         fair
72 Ratts Tyerell          79     15.0  none          grey, blue
73 R4-P17                 96       NA  none          silver, red
74 Wat Tambor            193     48.0  none          green, grey
75 San Hill              191       NA  none          grey
76 Shaak Ti              178     57.0  none          red, blue, white
77 Grievous              216    159.0  none          brown, white
78 Tarfful               234    136.0  brown         brown
79 Raymus Antilles       188     79.0  brown         light
80 Sly Moore             178     48.0  none          pale
81 Tion Medon            206     80.0  none          grey
82 Finn                   NA       NA  black         dark
83 Rey                    NA       NA  brown         light
84 Poe Dameron            NA       NA  brown         light
85 BB8                    NA       NA  none          none
86 Captain Phasma         NA       NA  unknown       unknown
87 Padmé Amidala         165     45.0  brown         light
   eye_color     birth_year sex            gender    homeworld
1  blue           19.0      male           masculine Tatooine
2  yellow        112.0      none           masculine Tatooine
3  red            33.0      none           masculine Naboo
4  yellow         41.9      male           masculine Tatooine
5  brown          19.0      female         feminine  Alderaan
6  blue           52.0      male           masculine Tatooine
7  blue           47.0      female         feminine  Tatooine
8  red              NA      none           masculine Tatooine
9  brown          24.0      male           masculine Tatooine
10 blue-gray      57.0      male           masculine Stewjon
11 blue           41.9      male           masculine Tatooine
12 blue           64.0      male           masculine Eriadu
13 blue          200.0      male           masculine Kashyyyk
14 brown          29.0      male           masculine Corellia
15 black          44.0      male           masculine Rodia
16 orange        600.0      hermaphroditic masculine Nal Hutta
17 hazel          21.0      male           masculine Corellia
18 blue             NA      male           masculine Bestine IV
19 brown         896.0      male           masculine NA
20 yellow         82.0      male           masculine Naboo
21 brown          31.5      male           masculine Kamino
22 red            15.0      none           masculine NA
23 red            53.0      male           masculine Trandosha
24 brown          31.0      male           masculine Socorro
25 blue           37.0      male           masculine Bespin
26 orange         41.0      male           masculine Mon Cala
27 blue           48.0      female         feminine  Chandrila
28 brown            NA      male           masculine NA
29 brown           8.0      male           masculine Endor
30 black            NA      male           masculine Sullust
⋮  ⋮             ⋮          ⋮              ⋮         ⋮
58 brown          NA        female         feminine  Naboo
59 blue           82        male           masculine Tatooine
60 yellow         NA        male           masculine Geonosis
61 blue           58        female         feminine  Mirial
62 blue           40        female         feminine  Mirial
63 brown          NA        female         feminine  Naboo
64 brown         102        male           masculine Serenno
65 brown          67        male           masculine Alderaan
66 brown          66        male           masculine Concord Dawn
67 yellow         NA        female         feminine  Zolan
68 yellow         NA        male           masculine Ojom
69 black          NA        male           masculine Kamino
70 black          NA        female         feminine  Kamino
71 blue           NA        female         feminine  Coruscant
72 unknown        NA        male           masculine Aleen Minor
73 red, blue      NA        none           feminine  NA
74 unknown        NA        male           masculine Skako
75 gold           NA        male           masculine Muunilinst
76 black          NA        female         feminine  Shili
77 green, yellow  NA        male           masculine Kalee
78 blue           NA        male           masculine Kashyyyk
79 brown          NA        male           masculine Alderaan
80 white          NA        NA             NA        Umbara
81 black          NA        male           masculine Utapau
82 dark           NA        male           masculine NA
83 hazel          NA        female         feminine  NA
84 brown          NA        male           masculine NA
85 black          NA        none           masculine NA
86 unknown        NA        NA             NA        NA
87 brown          46        female         feminine  Naboo
   species
1  Human
2  Droid
3  Droid
4  Human
5  Human
6  Human
7  Human
8  Droid
9  Human
10 Human
11 Human
12 Human
13 Wookiee
14 Human
15 Rodian
16 Hutt
17 Human
18 Human
19 Yoda's species
20 Human
21 Human
22 Droid
23 Trandoshan
24 Human
25 Human
26 Mon Calamari
27 Human
28 Human
29 Ewok
30 Sullustan
⋮  ⋮
58 Human
59 Human
60 Geonosian
61 Mirialan
62 Mirialan
63 Human
64 Human
65 Human
66 Human
67 Clawdite
68 Besalisk
69 Kaminoan
70 Kaminoan
71 Human
72 Aleena
73 Droid
74 Skakoan
75 Muun
76 Togruta
77 Kaleesh
78 Wookiee
79 Human
80 NA
81 Pau'an
82 Human
83 Human
84 Human
85 Droid
86 NA
87 Human
   films
1  The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
2  The Empire Strikes Back, Attack of the Clones   , The Phantom Menace     , Revenge of the Sith    , Return of the Jedi     , A New Hope
3  The Empire Strikes Back, Attack of the Clones   , The Phantom Menace     , Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
4  The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope
5  The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
6  Attack of the Clones, Revenge of the Sith , A New Hope
7  Attack of the Clones, Revenge of the Sith , A New Hope
8  A New Hope
9  A New Hope
10 The Empire Strikes Back, Attack of the Clones   , The Phantom Menace     , Revenge of the Sith    , Return of the Jedi     , A New Hope
11 Attack of the Clones, The Phantom Menace  , Revenge of the Sith
12 Revenge of the Sith, A New Hope
13 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
14 The Empire Strikes Back, Return of the Jedi     , A New Hope             , The Force Awakens
15 A New Hope
16 The Phantom Menace, Return of the Jedi, A New Hope
17 The Empire Strikes Back, Return of the Jedi     , A New Hope
18 A New Hope
19 The Empire Strikes Back, Attack of the Clones   , The Phantom Menace     , Revenge of the Sith    , Return of the Jedi
20 The Empire Strikes Back, Attack of the Clones   , The Phantom Menace     , Revenge of the Sith    , Return of the Jedi
21 The Empire Strikes Back, Attack of the Clones   , Return of the Jedi
22 The Empire Strikes Back
23 The Empire Strikes Back
24 The Empire Strikes Back, Return of the Jedi
25 The Empire Strikes Back
26 Return of the Jedi, The Force Awakens
27 Return of the Jedi
28 Return of the Jedi
29 Return of the Jedi
30 Return of the Jedi
⋮  ⋮
58 Attack of the Clones
59 Attack of the Clones
60 Attack of the Clones, Revenge of the Sith
61 Attack of the Clones, Revenge of the Sith
62 Attack of the Clones
63 Attack of the Clones
64 Attack of the Clones, Revenge of the Sith
65 Attack of the Clones, Revenge of the Sith
66 Attack of the Clones
67 Attack of the Clones
68 Attack of the Clones
69 Attack of the Clones
70 Attack of the Clones
71 Attack of the Clones
72 The Phantom Menace
73 Attack of the Clones, Revenge of the Sith
74 Attack of the Clones
75 Attack of the Clones
76 Attack of the Clones, Revenge of the Sith
77 Revenge of the Sith
78 Revenge of the Sith
79 Revenge of the Sith, A New Hope
80 Attack of the Clones, Revenge of the Sith
81 Revenge of the Sith
82 The Force Awakens
83 The Force Awakens
84 The Force Awakens
85 The Force Awakens
86 The Force Awakens
87 Attack of the Clones, The Phantom Menace  , Revenge of the Sith
   vehicles
1  Snowspeeder          , Imperial Speeder Bike
2
3
4
5  Imperial Speeder Bike
6
7
8
9
10 Tribubble bongo
11 Zephyr-G swoop bike, XJ-6 airspeeder
12
13 AT-ST
14
15
16
17 Snowspeeder
18
19
20
21
22
23
24
25
26
27
28
29
30
⋮  ⋮
58
59
60
61
62
63
64 Flitknot speeder
65
66
67 Koro-2 Exodrive airspeeder
68
69
70
71
72
73
74
75
76
77 Tsmeu-6 personal wheel bike
78
79
80
81
82
83
84
85
86
87
   starships
1  X-wing          , Imperial shuttle
2
3
4  TIE Advanced x1
5
6
7
8
9  X-wing
10 Jedi starfighter        , Trade Federation cruiser, Naboo star skiff        , Jedi Interceptor        , Belbullab-22 starfighter
11 Trade Federation cruiser, Jedi Interceptor        , Naboo fighter
12
13 Millennium Falcon, Imperial shuttle
14 Millennium Falcon, Imperial shuttle
15
16
17 X-wing
18 X-wing
19
20
21 Slave 1
22
23
24 Millennium Falcon
25
26
27
28 A-wing
29
30 Millennium Falcon
⋮  ⋮
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77 Belbullab-22 starfighter
78
79
80
81
82
83
84 T-70 X-wing fighter
85
86
87 H-type Nubian yacht, Naboo star skiff   , Naboo fighter

In [48]:
str(starwars)

tibble [87 × 14] (S3: tbl_df/tbl/data.frame)
 $ name      : chr [1:87] "Luke Skywalker" "C-3PO" "R2-D2" "Darth Vader" ...
 $ height    : int [1:87] 172 167 96 202 150 178 165 97 183 182 ...
 $ mass      : num [1:87] 77 75 32 136 49 120 75 32 84 77 ...
 $ hair_color: chr [1:87] "blond" NA NA "none" ...
 $ skin_color: chr [1:87] "fair" "gold" "white, blue" "white" ...
 $ eye_color : chr [1:87] "blue" "yellow" "red" "yellow" ...
 $ birth_year: num [1:87] 19 112 33 41.9 19 52 47 NA 24 57 ...
 $ sex       : chr [1:87] "male" "none" "none" "male" ...
 $ gender    : chr [1:87] "masculine" "masculine" "masculine" "masculine" ...
 $ homeworld : chr [1:87] "Tatooine" "Tatooine" "Naboo" "Tatooine" ...
 $ species   : chr [1:87] "Human" "Droid" "Droid" "Human" ...
 $ films     :List of 87
  ..$ : chr [1:5] "The Empire Strikes Back" "Revenge of the Sith" "Return of the Jedi" "A New Hope" ...
  ..$ : chr [1:6] "The Empire Strikes Back" "Attack of the Clones" "The Phantom Menace" "Revenge of the Sith" ...
  ..$ : chr [1:7] "The Empire Strikes Back" "Attack of the Clones" "The Phantom Menace" "Revenge of the Sith" ...
  ..$ : chr [1:4] "The Empire Strikes Back" "Revenge of the Sith" "Return of the Jedi" "A New Hope"
  ..$ : chr [1:5] "The Empire Strikes Back" "Revenge of the Sith" "Return of the Jedi" "A New Hope" ...
  ..$ : chr [1:3] "Attack of the Clones" "Revenge of the Sith" "A New Hope"
  ..$ : chr [1:3] "Attack of the Clones" "Revenge of the Sith" "A New Hope"
  ..$ : chr "A New Hope"
  ..$ : chr "A New Hope"
  ..$ : chr [1:6] "The Empire Strikes Back" "Attack of the Clones" "The Phantom Menace" "Revenge of the Sith" ...
  ..$ : chr [1:3] "Attack of the Clones" "The Phantom Menace" "Revenge of the Sith"
  ..$ : chr [1:2] "Revenge of the Sith" "A New Hope"
  ..$ : chr [1:5] "The Empire Strikes Back" "Revenge of the Sith" "Return of the Jedi" "A New Hope" ...
  ..$ : chr [1:4] "The Empire Strikes Back" "Return of the Jedi" "A New Hope" "The Force Awakens"
  ..$ : chr "A New Hope"
  ..$ : chr [1:3] "The Phantom Menace" "Return of the Jedi" "A New Hope"
  ..$ : chr [1:3] "The Empire Strikes Back" "Return of the Jedi" "A New Hope"
  ..$ : chr "A New Hope"
  ..$ : chr [1:5] "The Empire Strikes Back" "Attack of the Clones" "The Phantom Menace" "Revenge of the Sith" ...
  ..$ : chr [1:5] "The Empire Strikes Back" "Attack of the Clones" "The Phantom Menace" "Revenge of the Sith" ...
  ..$ : chr [1:3] "The Empire Strikes Back" "Attack of the Clones" "Return of the Jedi"
  ..$ : chr "The Empire Strikes Back"
  ..$ : chr "The Empire Strikes Back"
  ..$ : chr [1:2] "The Empire Strikes Back" "Return of the Jedi"
  ..$ : chr "The Empire Strikes Back"
  ..$ : chr [1:2] "Return of the Jedi" "The Force Awakens"
  ..$ : chr "Return of the Jedi"
  ..$ : chr "Return of the Jedi"
  ..$ : chr "Return of the Jedi"
  ..$ : chr "Return of the Jedi"
  ..$ : chr "The Phantom Menace"
  ..$ : chr [1:3] "Attack of the Clones" "The Phantom Menace" "Revenge of the Sith"
  ..$ : chr "The Phantom Menace"
  ..$ : chr [1:2] "Attack of the Clones" "The Phantom Menace"
  ..$ : chr "The Phantom Menace"
  ..$ : chr "The Phantom Menace"
  ..$ : chr "The Phantom Menace"
  ..$ : chr [1:2] "Attack of the Clones" "The Phantom Menace"
  ..$ : chr "The Phantom Menace"
  ..$ : chr "The Phantom Menace"
  ..$ : chr [1:2] "Attack of the Clones" "The Phantom Menace"
  ..$ : chr "The Phantom Menace"
  ..$ : chr "Return of the Jedi"
  ..$ : chr [1:3] "Attack of the Clones" "The Phantom Menace" "Revenge of the Sith"
  ..$ : chr "The Phantom Menace"
  ..$ : chr "The Phantom Menace"
  ..$ : chr "The Phantom Menace"
  ..$ : chr [1:3] "Attack of the Clones" "The Phantom Menace" "Revenge of the Sith"
  ..$ : chr [1:3] "Attack of the Clones" "The Phantom Menace" "Revenge of the Sith"
  ..$ : chr [1:3] "Attack of the Clones" "The Phantom Menace" "Revenge of the Sith"
  ..$ : chr [1:2] "The Phantom Menace" "Revenge of the Sith"
  ..$ : chr [1:2] "The Phantom Menace" "Revenge of the Sith"
  ..$ : chr [1:2] "The Phantom Menace" "Revenge of the Sith"
  ..$ : chr "The Phantom Menace"
  ..$ : chr [1:3] "Attack of the Clones" "The Phantom Menace" "Revenge of the Sith"
  ..$ : chr [1:2] "Attack of the Clones" "The Phantom Menace"
  ..$ : chr "Attack of the Clones"
  ..$ : chr "Attack of the Clones"
  ..$ : chr "Attack of the Clones"
  ..$ : chr [1:2] "Attack of the Clones" "Revenge of the Sith"
  ..$ : chr [1:2] "Attack of the Clones" "Revenge of the Sith"
  ..$ : chr "Attack of the Clones"
  ..$ : chr "Attack of the Clones"
  ..$ : chr [1:2] "Attack of the Clones" "Revenge of the Sith"
  ..$ : chr [1:2] "Attack of the Clones" "Revenge of the Sith"
  ..$ : chr "Attack of the Clones"
  ..$ : chr "Attack of the Clones"
  ..$ : chr "Attack of the Clones"
  ..$ : chr "Attack of the Clones"
  ..$ : chr "Attack of the Clones"
  ..$ : chr "Attack of the Clones"
  ..$ : chr "The Phantom Menace"
  ..$ : chr [1:2] "Attack of the Clones" "Revenge of the Sith"
  ..$ : chr "Attack of the Clones"
  ..$ : chr "Attack of the Clones"
  ..$ : chr [1:2] "Attack of the Clones" "Revenge of the Sith"
  ..$ : chr "Revenge of the Sith"
  ..$ : chr "Revenge of the Sith"
  ..$ : chr [1:2] "Revenge of the Sith" "A New Hope"
  ..$ : chr [1:2] "Attack of the Clones" "Revenge of the Sith"
  ..$ : chr "Revenge of the Sith"
  ..$ : chr "The Force Awakens"
  ..$ : chr "The Force Awakens"
  ..$ : chr "The Force Awakens"
  ..$ : chr "The Force Awakens"
  ..$ : chr "The Force Awakens"
  ..$ : chr [1:3] "Attack of the Clones" "The Phantom Menace" "Revenge of the Sith"
 $ vehicles  :List of 87
  ..$ : chr [1:2] "Snowspeeder" "Imperial Speeder Bike"
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr "Imperial Speeder Bike"
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr "Tribubble bongo"
  ..$ : chr [1:2] "Zephyr-G swoop bike" "XJ-6 airspeeder"
  ..$ : chr(0)
  ..$ : chr "AT-ST"
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr "Snowspeeder"
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr "Tribubble bongo"
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr "Sith speeder"
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr "Flitknot speeder"
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr "Koro-2 Exodrive airspeeder"
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr "Tsmeu-6 personal wheel bike"
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
 $ starships :List of 87
  ..$ : chr [1:2] "X-wing" "Imperial shuttle"
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr "TIE Advanced x1"
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr "X-wing"
  ..$ : chr [1:5] "Jedi starfighter" "Trade Federation cruiser" "Naboo star skiff" "Jedi Interceptor" ...
  ..$ : chr [1:3] "Trade Federation cruiser" "Jedi Interceptor" "Naboo fighter"
  ..$ : chr(0)
  ..$ : chr [1:2] "Millennium Falcon" "Imperial shuttle"
  ..$ : chr [1:2] "Millennium Falcon" "Imperial shuttle"
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr "X-wing"
  ..$ : chr "X-wing"
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr "Slave 1"
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr "Millennium Falcon"
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr "A-wing"
  ..$ : chr(0)
  ..$ : chr "Millennium Falcon"
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr "Naboo Royal Starship"
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr "Scimitar"
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr "Jedi starfighter"
  ..$ : chr(0)
  ..$ : chr "Naboo fighter"
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr "Belbullab-22 starfighter"
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr "T-70 X-wing fighter"
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr [1:3] "H-type Nubian yacht" "Naboo star skiff" "Naboo fighter"

In [49]:
starwars %>% # and-then
  select(gender, mass, height, species) %>%
  filter(species == "Human") %>%
  na.omit()

   gender    mass  height species
1  masculine  77.0 172    Human
2  masculine 136.0 202    Human
3  feminine   49.0 150    Human
4  masculine 120.0 178    Human
5  feminine   75.0 165    Human
6  masculine  84.0 183    Human
7  masculine  77.0 182    Human
8  masculine  84.0 188    Human
9  masculine  80.0 180    Human
10 masculine  77.0 170    Human
11 masculine 110.0 180    Human
12 masculine  75.0 170    Human
13 masculine  78.2 183    Human
14 masculine  79.0 177    Human
15 masculine  79.0 175    Human
16 masculine  89.0 193    Human
17 masculine  84.0 188    Human
18 masculine  85.0 185    Human
19 masculine  80.0 193    Human
20 masculine  79.0 183    Human
21 masculine  79.0 188    Human
22 feminine   45.0 165    Human

In [51]:
# to learn more about the starwars data set
?starwars

In [54]:
starwars %>%    # and-then
  select(gender, mass, height, species) %>%
  filter(species == "Human") %>%
  na.omit() %>%
  mutate(height = height / 100) %>%
  mutate(BMI = mass / height^2) %>%
  group_by(gender) %>%
  summarise(Average_BMI = mean(BMI))

  gender    Average_BMI
1 feminine  21.95164
2 masculine 26.04427