<a href="https://colab.research.google.com/github/qfx4yk/ds1002-qfx4yk/blob/main/in-class%20exercises/Intro_to_R_(11_13_23).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# comments also use hashtags to indicate they are comments!
# let's create an object and populate it.

fav_album <- "Dark Side of the Moon"
fav_album

[1] "Dark Side of the Moon"

In [3]:
fav_number <- 11
fav_number

[1] 11

In [6]:
# you can learn what datatype an object is using the typeof() function.

typeof(fav_album)

[1] "character"

In [9]:
# A "double" is a type of integer. But, decimals are ALSO "doubles"
typeof(fav_number)

[1] "double"

In [10]:
# you can also assign in the other direction if you want (though the convention is R to L)

"mickey" -> mousename
mousename

[1] "mickey"

In [12]:
# Another very basic operation is to concatenate values into an object using the c() function:

myname <- c("Bob", "Dylan")
myname

[1] "Bob"   "Dylan"

In [13]:
x <- 10.5
x

[1] 10.5

In [14]:
class(x)

[1] "numeric"

In [15]:
k <- 1
k

[1] 1

In [16]:
class(k)

[1] "numeric"

In [23]:
is.integer(k) # CHECK: is k an integer?

[1] FALSE

In [21]:
y <- as.integer(3) # way of casting y as an "integer" variable
y
class(y)
is.integer(y)

[1] 3

[1] "integer"

[1] TRUE

***R can return multiple outputs within one cell where Python would only give you the last line of code.***

In [22]:
y <- 3L # another way of casting y as an "integer" variable
is.integer(y)

[1] TRUE

In [29]:
as.integer(3.14) # coerce a decimal

[1] 3

In [25]:
as.integer("5.27") # coerce a decimal string

[1] 5

In [28]:
as.integer("Joe") # coerce a non-decimal string; *NOTE: won't work

Warning message in eval(expr, envir, enclos):
“NAs introduced by coercion”

[1] NA

In [27]:
as.integer(TRUE) # the numeric value of TRUE = 1
as.integer(FALSE) # the numerica value of FALSE = 0

[1] 1

[1] 0