<a href="https://colab.research.google.com/github/qfx4yk/ds1002-qfx4yk/blob/main/in-class%20exercises/Printing_Options_and_Classes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
band = "Talking Heads"
member_count = 4

# Print - Old Fashioned
print("The name of this band is " + band + " and it has " + str(member_count) + " members")

# Tuple Method
print("The name of this band is", band, "and it has", member_count + 1, "members")

# F-string Method
print(f"The name of this band is {band} and it has {member_count} members.")

The name of this band is Talking Heads and it has 4 members
The name of this band is Talking Heads and it has 5 members
The name of this band is Talking Heads and it has 4 members.

In [17]:
# Function Output

def meaningless_function(): # does not have a return statement
  if 7 > 1:
    pass

myval = meaningless_function()
print(myval)

None

In [19]:
class Cars:

  def __init__(self, x, y):
    self.x = x
    self.y = y

  def multiply_them(self, x, y):
    return self.x * self.y

  def divide_them(self, x, y):
    if y > x:
      return self.x / self.y
    elif x > y:
      return self.x / self.y
    else:
      print("I cannot divide these!")

In [22]:
def simple_function(x,y,z):
  return x + y + z

simple_function(5,6,7)

# OR....
simple_function(z=3,y=14,x=1)

18

In [39]:
# Setting attributes in instance

class Albums: # empty class
  pass

album1 = Albums()

album1.genre = "Rock"
album1.year = 1980
album1.title = "Remain In Light"
album1.band = "Talking Heads"

In [28]:
class Records:
  var1 = "Rockets"
  var2 = "Bananas"

In [32]:
Records.var1 # you can fetch the attributes in many ways

'Rockets'

In [30]:
record1 = Records()

In [31]:
record1.var1

'Rockets'

In [34]:
record1.var1 = "Mopeds"

In [38]:
record1.var1 # you can repopulate within this instance

'Mopeds'

In [37]:
Records.var1 # but when you call the original class, you will still get rockets

'Rockets'